{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <h1>Timeline</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Content</th>
                <th>Deleted</th>
                <th>Createdat</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td><a href="{{ path('tech_corp_front_user_timeline', { userId: status.user.id }) }}">{{ status.user.username }}</a></td>
                <td>{{ status.content }}</td>
                <td>{{ status.deleted ? "supprimé" : "visible" }}</td>
                <td>
                    {% if status.createdAt %}
                        {{ status.createdAt|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}